extend-exclude = [
    "credit-modeling/sambhavm22", # Written by @sambhav himself
]

[lint]
extend-select = [
    "A",
    "ARG",
    "B",
    "BLE",
    "C4",
    "C90",
    "COM",
    "E",
    "EM",
    "F",
    "FLY",
    "FURB",
    "I",
    "ICN",
    "INP",
    "ISC",
    "PGH",
    "PIE",
    "PL",
    "PT",
    "PTH",
    "PYI",
    "Q",
    "RSE",
    "RUF",
    "S",
    "SIM",
    "SLF",
    "TC",
    "UP",
    "W",
    "YTT",
]
extend-ignore = [
    "B008",
    "B905",
    "COM812",
    "E501",
    "E741",
    "EM101",
    "EM102",
    "INP001",
    "ISC001",
    "N818",
    "PGH003",
    "PLE1142",
    "PLR0913",
    "PLR2004",
    "S101",
    "S301",
]

[lint.per-file-ignores]
# marimo notebooks
"**/*_mo.py" = [
    "B018", # useless-expression
    "PLC0415", # import-outside-top-level
]
